{% extends "AppAppBundle:Helper:index.html.twig" %}

{% import 'AppAppBundle:Macro:filters.html.twig' as filterMacros %}

{% block indexheaderstop %}
    {{ filterMacros.simple('id', null, filters, pagination) }}

    {{ filterMacros.simple('strId', null, filters, pagination) }}

    {{ filterMacros.simple('transname', 'name', filters, pagination) }}
{% endblock indexheaderstop %}

{% block indexheadersmiddle %}    
{% endblock indexheadersmiddle %}

{% block indexheadersbottom %}
{% endblock indexheadersbottom %}

{% block indexrowstop %}
    <td>{% if classShortName is defined %}<a href="{{ path(classShortName~'_edit', {'id': entity.id} ) }}">{% endif %}{{ entity.id }}{% if classShortName is defined %}</a>{% endif %}</td>
    <td>{% if classShortName is defined %}<a href="{{ path(classShortName~'_edit', {'id': entity.id} ) }}">{% endif %}{{ entity.strId }}{% if classShortName is defined %}</a>{% endif %}</td>    
    <td>{% if classShortName is defined %}<a href="{{ path(classShortName~'_edit', {'id': entity.id} ) }}">{% endif %}{{ entity.obj.name|default('.........') }}{% if classShortName is defined %}</a>{% endif %}</td>
    {% endblock indexrowstop %}

{% block indexrowsmiddle %}
{% endblock indexrowsmiddle %}

{% block indexrowsbottom %}
{% endblock indexrowsbottom %}

{% block indexbulk %}
{% endblock indexbulk %}